body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d8e6ff;
    margin: 0;
    padding: 0;
    text-align: center;

}
h1 {
    color: #000000;
}
title{
    align-content: left;

}

h2 {
    color: blue;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
ul{
    background-color: #000000;
    border-radius: 4% !important;
    height: 25px;
    margin-bottom: 5%;
    color: #d8e6ff;

}

li{
    display: inline;
    flex-direction:table;
    margin-left: 3%;
    font-size: 15px;
    color:#ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li::after{
    color:aqua;
}

form{
    width: 90%;
    align-content: center;
    
}
input[type=text] {
    border: 35%;
    border-bottom: 2px solid gray;

    border-radius: 5%;
}
input[type=textarea] {
    width:70%;
    border-bottom: 2px;
    border-radius: 10%;

}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left +1px ;
}

.dynamictable th, td {
    border: 1px solid rgb(16, 32, 180);
    padding: 8px;
    text-align: left+1px;
}

th {
    background-color: #213672;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
